* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.col, .col-2, .col-3 {
    background-color: #659da1;
    flex: 1;
    color: white;
    margin: 5px;
    padding: 5px;
}

.col {
    background-color: #659da1;
    flex: 1;
    color: white;
}

.col-2 {
    flex: 2;
}

.col-3 {
    flex: 3;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}