* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Container */

.container {
    width: 100%;
}

/* Content Navbar */

.navbar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    width: 100%;
}

.active {
    font-weight: bold;
}

.menu > ul{
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    list-style-type: none;
}

.menu > ul > li {
    margin: 15px;
}

.profile {
    font-size: 30px;
    font-weight: bold;
}

.btn {
    background-color: #17a2b8;
    width: 100px;
    height: 20px;
    display: flex;
    justify-content: center;
}

/* Main Content */

.content {
    width: 780px;
    height: 100%;
    display: flex;
    margin-left: 15%;
}

/* Admin Column */

.admin {
    flex: 2;

}

/* Admin-1 */

.admin-1 {
    border: 2px solid rgb(184, 180, 180);
    width: 500px;
    height: 400px;
    margin: 50px 0 0 10px;
}

.teal {
    background-color: #17a2b8;
    height: 80px;
    width: 496px;
    position: absolute;
}

.userImage {
    width: 100px;
    border: 4px solid white;
    outline: 4px solid black;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: 30px;
}

.teal > h1 {
    margin: 150px 0 0 30px;
}

.mapMarker {
    width: 15px;
    margin: 10px 10px 0 30px;
}

p {
    margin: 10px 0 0 30px;
}
.gear {
    width: 15px;
    margin: 5px 10px 0 5px;
}


/* Admin-2 */

.admin-2 {
    border: 2px solid rgb(184, 180, 180);
    width: 500px;
    height: 200px;
    margin: 30px 0 0 10px;
}

.bar {
    background-color: #333333;
    height: 40px;
    width: 496px;
    position: absolute;
    color: white;
    display: flex;
    align-items: center;
}

h4 {
    margin-left: 30px;
}

h2 {
    margin-left: 30px;
}

.education {
    margin-top: 50px;
}

/* Sidebar Column */

.sidebar {
    width: 260px;
    flex: 1;
    background-color: white;
}

/* Sidebar-1 */

.sidebar-1 {
    height: 200px;
    margin: 50px 0 0 10px;
    border: 2px solid rgb(184, 180, 180);
}

.bar-1 {
    background-color: #333333;
    height: 50px;
    width: 246px;
    position: absolute;
    color: white;
    display: flex;
    align-items: center;;
}

.bar-1names {
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
}

.image {
    width: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

.conNames {
    margin-left: -10px;
}

.icon {
    height: 30px;
    margin-right: 5px;
}

.bar-1names2 {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

/* Sidebar-2 */

.sidebar-2 {
    height: 350px;
    margin: 50px 0 0 10px;
    border: 2px solid rgb(184, 180, 180);
}

.bar-2 {
    background-color: #333333;
    height: 50px;
    width: 246px;
    position: absolute;
    color: white;
    display: flex;
    align-items: center;
}

.bar-2info {
    margin-top: 65px;
    height: 230px;
}

.bar-2names {
    margin-top: 10px;
    display: flex;
}

.conNames-2 {
    margin-left: 10px;
}

.viewMore {
    border-top: 2px solid rgb(184, 180, 180);
    display: flex;
    align-items: center;
}
